body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SdC710cgzjajkibtg/videoblocks-printed-circuit-board-video-motherboard-blue-and-purple-digital-technology-background_hjzpzqrwz_thumbnail-full01.png");
  background-color: #110232;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/* .main-container {
  border: 1px solid #ee0eb9;
  box-shadow: 1px 1px 2px black, 0 0 1em #7f004e, 0 0 0.2em #e70eef;
} */

.container {
  margin-top: 4%;
  max-width: 500px;
}

input {
  text-align: center;
}

.jumbotron {
  border-radius: 20px;
  border: 1px solid #ee0eb9;
  box-shadow: 1px 1px 2px black, 0 0 1em #7f004e, 0 0 0.2em #e70eef;
  background: black;
}

.score-input {
  background-color: #8bcdd8;
}

hr {
  border-color: #8bcdd8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.input-feedback {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  color: #8bcdd8;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.progress {
  margin: 10px 0px 10px 0px;
}

.btn-default,
.btn-primary,
.list-group-item,
.list-group-item-light {
  margin-bottom: 20px;
  color: #8bcdd8;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  background-color: darkblue;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.btn-default:disabled,
.btn-primary:disabled {
  text-shadow: none;
  color: #8bcdd8;
  background-color: black;
  border: 1px solid black;
  box-shadow: none;
}

.btn-default:hover,
.btn-primary:hover,
.list-group-item:hover,
.list-group-item-light:hover {
  background-color: #8bcdd8;
  color: black;
  border: 1px solid black;
  text-shadow: none;
}

.list-group-item:first-child,
.list-group-item:last-child,
.list-group-item {
  border-radius: 10px;
}