/* FOOTER */
.footer {
  flex-shrink: 0;
  text-align: center;
  color: #8bcdd8;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  padding-top: 1rem;
  background-color: #0f022d;
  border-top: 1px solid #ee0eb9;
}